.log-text {
	padding: 5px;
	color: LawnGreen;
	font-family: "Monospace";
}

.header-label {
	font-weight: bold;
	font-family: "Courier";
	font-size: 120%;
}

.header-lump {
	font-weight: bold;
	font-family: "Courier";
	font-size: 150%;
}
