.log-text {
	padding: 5px;
	color: LawnGreen;
	font-family: "Monospace";
}

.header-label {
	font-weight: bold;
	font-size: 110%;
}

.header-button {
	font-weight: bold;
	font-family: "Courier";
	font-size: 110%;
}
