.log-text {
	padding: 5px;
	color: LawnGreen;
	font-family: "Monospace";
}

.header-label {
	font-weight: bold;
	font-family: "Courier";
	font-size: 120%;
}

.anchor-icon {
	font-weight: bold;
	font-family: "Courier";
	font-size: 250%;
}

.checkbox-icon {
	font-weight: bold;
	font-family: "Courier";
	font-size: 250%;
}
